{% extends "base.html" %}

{% block content %}

<div class="log-container">
    <div class="log-header">
        <h1>Food Log</h1>
        <p>Input Protein, Carbs and Fat for each food</p>
    </div>
    
    <form class="log-input-area" action="food_log" method="POST">
        <div class="log-input-items">
            <label for="food-date-time" class="log-label">Date & time</label>
            <input type="datetime" name="food-date-time" id="food-date-time" class="log-input">
            <label for="food-date-time" class="log-label">e.g. 2021-01-22T15:00</label>
        </div>

        <div class="log-input-items">
            <label for="food-name" class="log-label">Name of food</label>
            <input type="text" name="food-name" id="food-name" class="log-input">
            <label for="food-name" class="log-label">e.g. Apple</label>
        </div>

        <div class="log-input-items">
            <label for="food-protein" class="log-label">Protein</label>
            <input type="number" step=0.1 name="food-protein" id="food-protein" class="log-input" placeholder="0">
            <label for="food-protein" class="log-label">grams</label>
        </div>

        <div class="log-input-items">
            <label for="food-carbs" class="log-label">Carbs</label>
            <input type="number" step=0.1 name="food-carbs" id="food-carbs" class="log-input" placeholder="0">
            <label for="food-carbs" class="log-label">grams</label>
        </div>

        <div class="log-input-items">
            <label for="food-fat" class="log-label">Fat</label>
            <input type="number" step=0.1 name="food-fat" id="food-fat" class="log-input" placeholder="0">
            <label for="food-fat" class="log-label">grams</label>
        </div>
        
        <button type="submit" id="log-submit">Submit</button>
    </form>
    
    <h2 id="log-output">Total calories in food: {{ food_calories }}</h2>
</div>

{% endblock %}