{% extends "base.html" %}

{% block content %}

<div class="sidebar">
    <i class="fas fa-user"></i>
    <div> <p> My id is: abc@def.com </p> </div>
    <div> <p> My gender and weight </p> </div> 
</div>

<div class="chart">
    <h1>Calorie Log</h1>
    <p>All Days' Logs</p>
    <div id="my_legend"></div>
    <div id="my_dataviz"></div>
</div>

<script src="https://d3js.org/d3.v4.js" type="text/javascript"></script>
<script src="../static/dashboard.js" type="text/javascript"></script>

{% endblock %}