{% extends "base.html" %}

{% block content %}

<div class="sidebar" style="display: none;">
</div>

<div class="login-reg-container">
    <div class="login-reg-links">
        <a href="{{ url_for('index') }}" class="login-reg-link">Login</a>
        <a href="{{ url_for('register') }}" class="login-reg-link active">Register</a>
    </div>

    <div class="login-reg-input-area">
        <label for="reg-email" class="login-reg-label">Enter your email:</label>
        <input type="email" name="reg-email" id="reg-email" class="login-reg-input" autofocus>

        <label for="reg-password" class="login-reg-label">Enter your password:</label>
        <input type="password" name="reg-password" id="reg-password" class="login-reg-input">

        <label for="reg-weight" class="login-reg-label">Enter your weight:</label>
        <input type="number" name="reg-weight" id="reg-weight" class="login-reg-input">

        <label for="reg-gender" class="login-reg-label">Enter your gender (F or M):</label>
        <input type="text" name="reg-gender" id="reg-gender" class="login-reg-input">

        <label for="reg-height" class="login-reg-label">Enter your height (in cm):</label>
        <input type="number" name="reg-height" id="reg-height" class="login-reg-input">

        <label for="reg-date-of-birth" class="login-reg-label">Enter your Date of Birth:</label>
        <input type="datetime" name="reg-date-of-birth" id="reg-date-of-birth" class="login-reg-input">
        <label for="reg-date-of-birth">1997-09-11</label>
        
        <div class="empty-space"></div>

        <button type="submit" id="reg-submit">REGISTER</button>
    </div>

</div>

{% endblock %}